{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                <!-- Widgets  -->
           
      <h2>Create Rule {{ user_type }}</h2>
      <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Create</button>
      </form>
    
  </div>
</div>
{% endblock %}
