{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                <!-- Widgets  -->
                <div class="row">



                    <div class="col-sm-6 col-lg-3">
                        <div class="card text-white bg-flat-color-1">

                            <a href="{% url 'department:uploadForm' %}">

                             <div class="card-body">
                                <div class="card-left pt-1 float-left">
                                    <h3 class="mb-0 fw-r">

                                    </h3>
                                    <p class="text-light mt-1 m-0">Resumes</p>
                                </div><!-- /.card-left -->


                                <div class="card-right float-right text-right">
                                    <i class="icon fade-5 icon-lg pe-7s-file"></i>
                                </div><!-- /.card-right -->

                            </div>

                            </a>


                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card text-white bg-flat-color-1">

                            <a href="#">
                             <div class="card-body">
                                <div class="card-left pt-1 float-left">
                                    <h3 class="mb-0 fw-r">

                                    </h3>
{#                                    <p class="text-light mt-1 m-0">Resumes</p>#}
                                </div><!-- /.card-left -->


                                <div class="card-right float-right text-right">
                                    <i class="icon fade-5 icon-lg pe-7s-file"></i>
                                </div><!-- /.card-right -->

                            </div>

                            </a>


                        </div>
                    </div>


                </div>
            </div>
</div>
{% endblock %}
