{% extends 'base.html' %}

{% block content %}



<div class="content">


            <!-- Animated -->
            <div class="animated fadeIn">
                <!-- Widgets  -->
                <div class="row">
                    <p class="text-muted">
  Rules:{% for rule in user.department.rules.all %} {{ rule.get_html_badge }}{% endfor %}
    </p>
                    <a href="{% url 'department:update_rules' %}"><i class="menu-icon fa fa-reply-all"></i>Update</a>
                </div>
                <div class="row">
                   <form method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn  btn-success" type="submit">Upload</button>
  </form>
  <hr>
</div>
</div>
</div>

{% endblock %}
